# Variables homework

Advice for homework and life: try, play, experiment; don't Google until you get frustrated.

You can't break anything with Python, so, if you want to figure something out, try until you get it to work. You'll learn more and you'll remember it longer and more deeply.

---

In general, the homework question will consist of the question in a markdown cell, a code cell for you to play in, repeating as needed,  and a final markdown cell for your answer or explanation *that will be in italics*.

But do feel free to add or delete cells as you feel appropriate. The important thing is you get your point across!

---

### 1.

Make an integer: `theAnswer = 42`.
Now make another: `anotherNameForTheAnswer = 42`
(You don't have to use these exactly, but make sure you have two different names referring to the same exact value.)

In [2]:
theans = 88
anotherans = 88

Get and note the ID numbers for both.

In [3]:
id(theans)

4351043184

In [4]:
id(anotherans)

4351043184

Assign each name to a completely different number and confirm that each name now refers to an object with a new ID.

In [5]:
theans = 48
anotherans = 84

In [6]:
id(theans)

4351041904

In [7]:
id(anotherans)

4351043056

Do a `whos` to confirm that *no* names refer to the original value.

In [8]:
whos

Variable     Type    Data/Info
------------------------------
anotherans   int     84
theans       int     48

Finally, assign a new name to the original value, and get its ID.

In [9]:
anAns = 88

In [10]:
id(anAns)

4351043184

*Look at this ID and compare it to the original ones. What happened? What does this tell you?*

The ID is the same as the original ones. The integer itself still has the ID attached to it so when assigning this new name to the value it still has the same original identification.

---

### 2.

Convert both possible Boolean values to strings and print them.

In [8]:
boolOne = True
boolTwo = False

print(str(boolOne), str(boolTwo))

True False

Now convert some strings to Boolean until you figure out "the rule".

In [6]:
strOne = 'True'
strTwo = 'False'
strThree = '0'

print(bool(strOne), bool(strTwo), bool(strThree), bool(''))

True True True False

*What string(s) convert to True and False? In other words, what is the rule for str -> bool conversion?*

All non-empty strings convert to True. The only False I got was from an empty string.

---

### 3.

Make three variables:

* a Boolean equal to True
* an int (any int)
* a float

Try all combinations of adding two of the variables pairwise.

In [24]:
aBool = True
anInt = 6
aFloat = 6.6

In [25]:
aBool + anInt

7

In [26]:
aBool + aFloat

7.6

In [27]:
aFloat + anInt

12.6

*What is the rule for adding numbers of different types?*

The boolean value equal to True is equal to 1. Both the integers and float values stayed the same.

---

### 4.

Make an int (any int) and a string containing a number (e.g. num_str = '64'). Try

* adding them
* adding them converting the number to a string
* adding them converting the string to a number

In [28]:
anyInt = 8
num_str = '2'

In [29]:
anyInt + num_str

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [30]:
str(anyInt) + num_str

'82'

In [31]:
int(num_str) + anyInt

10

Try converting a `str` that is a spelled out number (like 'forty two') to an int.

In [33]:
int('nine')

ValueError: invalid literal for int() with base 10: 'nine'

*Did that work?*

No it did not!

---

### 5.

Make a variable that is a 5 element tuple.

In [34]:
colors = ('pink', 'green', 'yellow', 'red', 'purple')

Extract the last 3 elements.

In [36]:
colors[2:5]

('yellow', 'red', 'purple')

---

### 6.

Make two variables containing tuples (you can create one and re-use the one from #5). Add them using "+".

In [40]:
shapes = ('circle', 'square', 'triangle', 'oval', 'diamond')

colors + shapes

('pink',
 'green',
 'yellow',
 'red',
 'purple',
 'circle',
 'square',
 'triangle',
 'oval',
 'diamond')

Make two list variables and add them.

In [41]:
snack = ['peanuts','raisins','chips']
animals = ['dog','cat','bird']

snack + animals

['peanuts', 'raisins', 'chips', 'dog', 'cat', 'bird']

Try adding one of your tuples to one of your lists.

In [42]:
shapes + snack

TypeError: can only concatenate tuple (not "list") to tuple

*What happened? How does this compare to adding, say, a bool to a float?*

It cannot add a list to a tuple. A bool and a float works because the boolean value is converted to an integer which can used in addition.

---

### 7.

Can you tell the type of a variable by looking at its value?

*If so, how? A couple examples are fine; no need for an exhaustive list.*

Yes I can. A boolean variable is easy to recognize because it's either True or False. An integer is a whole number (i.e. 8 or 10), and a float variable includes a decimal (i.e. 8.5 or 0.05). A string variable is a sequence of characters (i.e. 'dog') and is enclosed in a parentheses.

---

### 8.

Make a list variable in which one of the elements is itself a list (e.g. `myList = ['hi', [3, 5, 7, 11], False]`).

In [43]:
myList = ['pluto', [2,3,4,5], True]

Extract one element of the nested list - the list-within a list. Try it in two steps, by first extracting the nested list and assigning it to a new variable.

In [46]:
nested = myList[1]
nested[1]

3

Now see if you can do this in one step.

In [47]:
myList[1][1]

3

---

### 9.

Make a `dict` variable with two elements, one of which is a list.

In [48]:
cars_dict = {
    'type':'Jeep',
    'color':['white','black','yellow']
}

Extract a single element from the list-in-a-dict in one step.

In [50]:
cars_dict['color'][0]

'white'

---

10.

Make a list variable. Consider that each element of the list is logically an *object* in and of itself. Confirm that one or two of these list elements has its own unique ID number.

In [61]:
anotherList = [2,4,6,8]
print(id(anotherList[0]), id(anotherList[3]))

4354120624 4354120816

If you extract an element from your list and assign it to a new variable, are the IDs the same, or is a new object created?

In [63]:
elem = anotherList[0]
id(elem)

4354120624

*Are the IDs the same, or is a new object created when you assigned the list element to new variable?*

The IDs are the same because the object is unchanged, regardless of the new name assignment.

---

### 11.

Make a `str` variable containing the first 5 letters of the alphabet (e.g. `a2e = 'abcde'`). Check the ID of the second (index = 1) element (the 'b').

In [75]:
ae = 'abcde'
id(ae[1])

4354166688

Now make a `str` variable containing the letter 'b'. Check its ID.

In [72]:
letter = 'b'
id(letter)

4353865568

*What happened?*

The ID is different because one variable is 'abcde'while the other is just considered 'b'. (i'm not sure about this one)